body{
    background-color: rgb(167, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, td {
   
    padding: 8px 12px;
    text-align: left;
}

th {
    border: 10px,solid,rgb(255, 255, 255);
}

tr {
    background: radial-gradient(rgb(119, 255, 180),white)
}

header{
    margin: 0px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(cyan,white);
    font-size: 40px;
    padding: 10px;
}
nav img{
    width: 200px;
    border-radius: 12px;
}
.centracion{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}